# Build results
bin/
obj/
out/

# VS user files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Rider / JetBrains / ReSharper
.idea/
*.DotSettings.user

# Logs
*.log

# Temporary files
~$*
*.tmp

# Other
*.DS_Store
Thumbs.db
